.channellogoimage {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 0px;
}

@media (min-width: 768px) {
  .individualcardimage {
    width: 100%;
  }
  .individualcard {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    width: 30%;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .individualcardimage {
    width: 90%;
  }
}
.individualcard {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
}

.titlecenter {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-top: 0px;
}

.titlecenter123 {
  display: flex;
  flex-direction: row;
}

.channelname {
  margin-left: 55px;
  margin-top: 0px;
}
.viewcount {
  margin-right: 15px;
}
