.modal {
  font-size: 12px;
  background-color: #475569;
  padding: 20px;
  border-radius: 10px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: white;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  color: #ffff;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.button1 {
  background-color: #3b82f6;
  color: white;
}

.button2 {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ffff;
  margin-right: 5px;
  color: white;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding: 10px;
  border-width: 0px;
  border-radius: 15px;
}
.my-button {
  /* Your default button styles */
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.my-button.hovered {
  /* Your styles for the hovered state */
  background-color: #2980b9;
}
