.tophomelightcontainer {
  background-color: #f9f9f9;
  color: black;
  font-family: 'Roboto';
}

.tophomedarkcontainer {
  background-color: #181818;
  color: white;
  font-family: 'Roboto';
}
.logoimage {
  height: 50px;
  width: 150px;
}

.buttonbuyNow {
  width: 100px;
  height: 30px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .home-section-small-size {
    margin: 20px;
  }
  .home-section-medium-size {
    display: none;
  }
  .background-color {
    background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
    background-size: cover;
    width: 100%;
  }
}
.image-cross {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .home-section-medium-size {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .home-section-small-size {
    display: none;
  }
  .left-side-home-contaier {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 20%;
    margin-left: 30px;
    margin-right: 40px;
  }
  .background-color {
    background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
    background-size: cover;
    width: 93%;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .links {
    text-decoration: none;
    color: black;
  }
  .links1 {
    display: flex;
    flex-direction: row;
  }
  .links12 {
    display: flex;
    flex-direction: row;
    background-color: #cbd5e1;
    color: black;
  }
  .homeiconred {
    height: 50px;
    color: red;
    margin-right: 8px;
  }
  .alignment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .homeicon {
    margin-top: 10px;
    height: 50px;
    color: black;
    margin-right: 8px;
  }
  .margintop {
    margin-top: 24px;
  }
  .marginss1 {
    margin-right: 7px;
    width: 30px;
    height: 30px;
    color: #4267b2;
  }
  .marginss2 {
    margin-right: 7px;
    color: #dd2a7b;
  }
  .marginss3 {
    margin-right: 7px;
    color: #00acee;
  }
  .marginss4 {
    margin-right: 7px;
    color: #0072b1;
  }
}
.searchinh {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 20px;
}
.backgrrrr {
  background-color: #f1f1f1;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  margin-left: 1px;
  border-style: solid;
  border-width: 1px;
}

.novideosview {
  width: 10px;
  height: 10px;
}

.novideocontainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.retrybutton {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.sidenav {
  /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
