.individualdetailcardimage {
  width: 60vw;
  height: 50vh;
}
.individualdetailcardlight {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  color: black;
}

.individualdetailcarddark {
  padding: 20px;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
}

.centers123321 {
  display: flex;
  flex-direction: row;
  width: 60vw;
}
.centers12321 {
  display: flex;
  flex-direction: row;
}
.centers12345 {
  margin-right: 12px;
  margin-top: 16px;
}
.right-side-home-contaier {
  background-color: #ebebeb;
  width: 100%;
}
.centers123 {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.bluecolordiv {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  color: blue;
}
.blackcolordiv {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  color: #cccccc;
}
.channelsection12 {
  display: flex;
  flex-direction: row;
  margin-left: 105px;
}
.channelsectionprofile {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-right: 10px;
}
.channelsection {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.subscribercount {
  margin-top: 0px;
}
.subscribercount21 {
  margin-left: 0px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .titlecenterlikeshare {
    display: flex;
    flex-direction: row;
    width: 65vw;
    margin-left: 105px;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .titlecenterlikeshare {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin-left: 105px;
    justify-content: space-around;
  }
}
