.topmargin {
  margin-top: 15px;
}
.individualtrendingcardimage12 {
  width: 50%;
  height: 40%;
  margin-right: 5px;
}
.individualtrendingcard134 {
  text-decoration: none;
}
.individualtrendingcard1 {
  display: flex;
  flex-direction: row;
}
.titlebold {
  font-weight: bold;
}
